<div class="uk-position-relative">
  <img src="https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?w=826&t=st=1682289061~exp=1682289661~hmac=6bd26a5419826999b253cf7b75b2e528637977cc08f8ea83544bacc091201be5"  alt="">
  <div class="uk-position-top">
      <nav class="uk-navbar-container uk-navbar-transparent">
          <div class="uk-container">
              <div uk-navbar>

                  <div class="uk-navbar-left">
                      <ul class="uk-navbar-nav">
                          <li class="uk-active"><a href="#">Active</a></li>
                          <li><a href="#">Item</a></li>
                          <li>
                              <a href="#">Parent</a>
                              <div class="uk-navbar-dropdown">
                                  <ul class="uk-nav uk-navbar-dropdown-nav">
                                      <li class="uk-active"><a href="#">Active</a></li>
                                      <li><a href="#">Item</a></li>
                                      <li class="uk-nav-header">Header</li>
                                      <li><a href="#">Item</a></li>
                                      <li><a href="#">Item</a></li>
                                      <li class="uk-nav-divider"></li>
                                      <li><a href="#">Item</a></li>
                                  </ul>
                              </div>
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </nav>
  </div>
</div>
